#! /bin/sh

echo "starting senior-movie-selector"
cd "{{ senior_movie_selector_project_dir }}" && sudo docker compose restart
xhost + && chromium-browser --kiosk --disable-gpu --app=http://localhost
exit 0