[Desktop Entry]
Name=Senior Movie Selector
Comment=Startet das senior-movie-selector Project
Type=Application
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Exec=lxterminal -e "~/Desktop/senior-movie-selector.sh"